.navigation {
    display: grid;
    align-items:center;
    grid-template-columns: repeat(3, 1fr);
}
.tab-list {
    text-align:center;
    display:grid;
    justify-content:center;
    align-items:center;
    grid-auto-columns: minmax(3rem,8rem);
    grid-auto-flow:column;
}

.mobile-menu {
    display:none;
}
@media (width < 650px) {
    .tab-list {
        grid-auto-flow:row;
    }
}
